{% extends 'base.html.twig' %}

{% block title %}Hung-gar Kung-Fu{% endblock %}

{% block body %}
<section>
    <div class="sakho container h">
        <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset('assets/images/sakho.jpg') }}" alt="Description de l'image" class="sakho-image">
                </div>
            <div class="col-md-6">
                        <h2>LE MAÎTRE</h2>
                        <br>
                        <p>Sakho Daouda, un Homme passionné et déterminé, a commencé sa pratique du Kung Fu en septembre 1981 à Lyon. Dès le début, il a su que c'était le chemin qu'il voulait suivre, et il s'est investi corps et âme dans cet art martial.</p>
                        <p>Ce qui distingue Sakho, c'est sa maîtrise de différentes armes. Il utilise pas moins de dix armes différentes, ce qui témoigne de sa polyvalence et de son expertise dans le domaine du combat.</p>
                        <p>Son parcours est empreint de valeurs essentielles :</p>

                    <ul>
                        <li><strong>Travail</strong> - Sakho incarne l'effort constant et la recherche de l'excellence.</li>
                        <li><strong>Persévérance</strong> - Face aux obstacles, Sakho a su rester déterminé et a persévéré jusqu'à atteindre ses objectifs.</li>
                        <li><strong>Croyance</strong> - Avec une confiance inébranlable en ses capacités, Sakho a toujours cru en lui-même et en son potentiel.</li>
                    </ul>

                        <p>Sa détermination et son talent lui ont permis de remporter de nombreux succès tout au long de sa carrière. Il a gagné sa première <strong> coupe de France </strong>, marquant ainsi le début d'une série de victoires impressionnantes. Au total, il a participé à <strong>128 combats</strong>, dont il en a <strong>remporté 123</strong>, dont <strong>90 par KO</strong>. Ces chiffres parlent d'eux-mêmes et attestent de sa domination sur le ring.</p>
                        <p>Sakho a également atteint les sommets sur la scène internationale. Il a été <strong>vice-champion du monde</strong> en 1988 et a remporté à quatre reprises <strong>le championnat d'Europe</strong>. Sur le plan national, il a été couronné sept fois <strong>champion de France</strong>, de 1983 à 1989.</p>
                        <p>En parallèle de sa carrière sportive, Sakho a également servi dans <strong>l'armée de terre </strong>. Il a fait preuve d'un courage et d'une résilience exceptionnels, Sakho a continué à pratiquer le Kung Fu, intégrant sa discipline martiale à son service militaire.</p>
                        <p>Aujourd'hui, Le parcours de Sakho Daouda est une <strong>source d'inspiration</strong> pour les jeunes et pour tous ceux qui aspirent à atteindre leurs <strong>objectifs</strong>. Son dévouement, sa force de caractère et ses réalisations exceptionnelles sont le reflet de sa passion inébranlable pour le <strong>KUNG-FU.</strong></p> 
            </div>
        </div>
    </div
         <br><br>
</section>

{% endblock %}
