{% extends 'base.html.twig' %}

{% block title %}Hung-gar Kung-Fu{% endblock %}

{% block body %}
<body>
    <div class="container">
  
            <div class="text-center">
                <img src="{{ asset('assets/images/IMG_1663.jpg') }}" class="small-img" alt="...">
            </div><br><br>
                <p>
                    <strong>Le Hung Gar</strong> est un style emblématique du wushu gong fu du sud de la Chine, originaire de la province du Guangdong. Remontant aux textes chinois du XVIIIe siècle, il est imprégné d'une longue histoire et d'une riche tradition.
                </p>

                <p>
                    Aujourd'hui, le Hung Gar est l'un des styles de wushu du sud de la Chine les plus pratiqués dans le monde entier. Il se distingue par ses positions basses et stables, mettant l'accent sur des attaques puissantes principalement développées avec les membres supérieurs, une multitude de blocages et une attention particulière portée au travail de l'énergie interne.
                </p>

                    <h5>Caractéristiques et techniques :</h5> 
                <p> 
                    Le Hung Gar se caractérise par ses postures basses et stables, permettant une base solide pour des attaques puissantes et une défense efficace. Il met l'accent sur les mouvements des membres supérieurs, avec des poings, des griffes, des coudes et des paumes, ainsi que des techniques de coups de pied, de blocages, et de prises. Les techniques du Hung Gar sont conçues pour exploiter la force du corps tout entier et favoriser une approche pragmatique du combat.
                </p>
                <p>
                    Le Hung Gar est un art martial chinois dynamique et puissant, qui allie force physique, philosophie traditionnelle et riche histoire. Pratiqué par des passionnés du monde entier, il continue de perpétuer la tradition martiale chinoise et d'enrichir la vie de ceux qui le pratiquent.
                </p>
    </div><br>
</body>
</html>
{% endblock %}
