{% extends 'base.html.twig' %}
{% block title %}Hung-gar Kung-Fu {% endblock %}
{% block body %}
<body>
<section class="bienvenue">

  <div class="container ">
    <h5 class="text-dark">
    <br>
         Bienvenue dans l'univers authentique du Hung Gar Kung Fu !</h5>
    <p> où la tradition millénaire rencontre la détermination moderne, vous invitant à embrasser la force intérieure, l'équilibre et la sagesse du guerrier en vous.
    <br><br>
  </div>
</section>
  <div class= " container ">


    <img src="{{ asset('assets/images/stage1.jpg') }}" class="d-block mx-auto" alt="..."> 
    <!-- Ajout des classes d-block et mx-auto -->
</div><br>
<!--<div>
  <p class=" container fluid text1"> 
          Le Kung-fu se caractérise par sa diversité et sa richesse, avec des centaines, voire des milliers, de styles différents qui ont évolué au fil des siècles.
          Chaque style de Kung-fu a ses propres techniques, mouvements, formes, stratégies et philosophies uniques.

          Les techniques du Kung-fu comprennent des coups de poing, des coups de pied, des prises, des projections, des blocages, des esquives, des clés articulaires et des techniques de combat à mains nues ou avec des armes traditionnelles chinoises telles que le bâton, l'épée, le sabre, la lance, les nunchakus, etc.

          Outre les aspects physiques, le Kung-fu intègre également des principes philosophiques et spirituels, mettant l'accent sur la discipline, la maîtrise de soi, la concentration, l'équilibre, la coordination et la connexion entre le corps et l'esprit.
          Il favorise également le développement de qualités telles que la souplesse, la force, l'endurance, la rapidité, la précision et la réactivité.

          Le Kung-fu est souvent pratiqué comme une forme d'art martial, un moyen d'entraînement physique, une méthode de self-défense, une voie de développement personnel et spirituel, ainsi qu'un aspect culturel et traditionnel de la Chine.
          Il est enseigné dans des écoles spécialisées, des dojos, des temples, des académies et des clubs à travers le monde, attirant des pratiquants de tous âges et de toutes origines.
</div> !-->
</body>
{% endblock %}
