{% extends 'base.html.twig' %}

{% block title %}Hung-gar Kung-Fu {% endblock %}

{% block body %}
<section class="taocolor">
<div class=" texte container">
        <h1 class="titre text-center">Kung-fu : Art Martial Chinois</h1>
        <br>
        <p>
            Le <span class="highlight">Kung-fu</span> se caractérise par sa diversité et sa richesse, avec des centaines, voire des milliers, de styles différents qui ont évolué au fil des siècles.
            Chaque style de <span class="highlight">Kung-fu</span> a ses propres techniques, mouvements, formes, stratégies et philosophies uniques.
        </p>

        <p>
            Les techniques du <span class="highlight">Kung-fu</span> comprennent des coups de poing, des coups de pied, des prises, des projections, des blocages, des esquives, des clés articulaires et des techniques de combat à mains nues ou avec des armes traditionnelles chinoises telles que le bâton, l'épée, le sabre, la lance, les nunchakus, etc.
        </p>

        <p>
            Outre les aspects physiques, le <span class="highlight">Kung-fu</span> intègre également des principes philosophiques et spirituels, mettant l'accent sur la discipline, la maîtrise de soi, la concentration, l'équilibre, la coordination et la connexion entre le corps et l'esprit.
            Il favorise également le développement de qualités telles que la souplesse, la force, l'endurance, la rapidité, la précision et la réactivité.
        </p>

        <p>
            Le <span class="highlight">Kung-fu</span> est souvent pratiqué comme une forme d'art martial, un moyen d'entraînement physique, une méthode de self-défense, une voie de développement personnel et spirituel, ainsi qu'un aspect culturel et traditionnel de la Chine.
            Il est enseigné dans des écoles spécialisées, des dojos, des temples, des académies et des clubs à travers le monde, attirant des pratiquants de tous âges et de toutes origines.
        </p>
    </div>
    <br><br>

    <div class="tao container">
        <div class="row">
            <div class="col-md-6 ">
                <h2>LE TAO</h2>
                <p>
                   La Tao est une branche du Kung Fu dédiée à la voie de la sagesse et de l'harmonie, englobant les aspects philosophiques et spirituels de l'art martial chinois. Sa pratique vise à développer la discipline, la maîtrise de soi, la concentration, l'équilibre et la connexion entre le corps et l'esprit. Le concept du Tao signifie rechercher l'efficacité et l'harmonie dans chaque mouvement, cherchant à être en phase avec l'énergie de l'adversaire plutôt que de lutter contre elle de manière brutale. Cela nécessite de développer une sensibilité, une fluidité et une adaptabilité dans l'approche du combat, naviguant avec aisance entre l'action et l'inaction, la douceur et la dureté, la force et la souplesse.
               
            </div>
            <div class="col-md-6">
                <img src="{{ asset('assets/images/tao.jpeg') }}" alt="tao" class="tao-image">
            </div>
        </div>
    </div>
</section>
<section class="taocolor">
    <div class="tao container">
        <div class="row">
            <div class="col-md-6 ">
                <h2>LE SANDA</h2>
                <p>
                   Le sanda,est une discipline dynamique et qui met l'accent sur les frappes, les projections et les saisies. Les pratiquants de Sanda apprennent à utiliser efficacement leurs poings, leurs pieds, et leurs techniques de projection pour vaincre leurs adversaires. Les combats de Sanda sont rapides, intenses et mettent en valeur la puissance, la vitesse, l'agilité et la précision des attaques. Cette forme de Kung Fu développe la condition physique, la force mentale et la réactivité, permettant aux pratiquants de faire face aux défis du combat en temps réel.
            </div>
            <div class="col-md-6">
                <img src="{{ asset('assets/images/hamza.jpg') }}" alt="tao" class="tao-image">
            </div>
        </div>
    </div>
</section>
<br><br>
{% endblock %}
