{% extends 'base.html.twig' %}

{% block title %}Hung-gar Kung-Fu{% endblock %}

{% block body %}
<html>

<body>
   <div class="container">
        <h4 class="horaires text-dark text-center mt-5">LIEUX JOURS ET HORAIRES DES COURS</h4>
        </div><br>
  <table class="container mt-4">
    <tr class="text-light">
      <th>Heure</th>
      <th>Lundi <p class="text-white-50"> Amicale Laique de Solaure </p></th>
      <th>Mardi <p class="text-white-50"> Gymnase Gérard Philipe </p></th>
      <th>Mercredi <p class="text-white-50"> Amicale Laique de la Jomayère </p></th>
      <th>Jeudi <p class="text-white-50"> Amicale Laique de la Jomayère </p></th>
      <th>Vendredi <p class="text-white-50"> Gymnase Gérard Philipe</p></th>
      <th>Samedi <p class="text-white-50"> Gymnase Paul Michelon </p></th>
    </tr>
    <tr>
      <td>09:00 - 10:30</td>
        <td rowspan='5'></td>
        <td rowspan='5'></td>
        <td rowspan='2'></td>  <!-- mercredi !-->
        <td rowspan='5'></td>
        <td rowspan='7'></td><!--vendredi !-->
        <td class="bg-dark text-light">Cours Sanda enfants et ados</td>
    </tr>
    <tr>
      <td>10:30 - 12:00</td>
         <!-- <td></td> !-->
         <!-- <td></td> !-->
         <!-- <td></td> !-->
         <!-- <td></td> !-->
         <!-- <td></td> !-->
        <td class="bg-warning">Cours Sanda Adultes</td>
    </tr>

    <tr>
      <td>15:30-16:50</td>
           <!-- <td></td> !-->
         <!-- <td></td> !-->
        <td class="bg-dark text-light">Cours enfants 6/10ans</td>
         <!-- <td></td> !-->
      <!-- <td></td> vendredi !-->
        <td rowspan='6'></td>
    </tr>
    <tr>
      <td>16:50 - 18:00</td>
             <!-- <td></td> !-->
         <!-- <td></td> !-->
        <td class="bg-dark text-light">Cours enfants avancé</td>
         <!-- <td></td> jeudi !-->
        <!-- <td></td> !--> <!--vendredi !-->
        <!-- <td></td> !-->
    </tr>
    <tr>
      <td>18:00 </td>
             <!-- <td></td> !-->
         <!-- <td></td> !-->
        <td rowspan='2'class="bg-warning text-dark">Cours compétiteurs</td>
            <!-- <td></td> !-->
         <!-- <td></td> !--><!--vendredi !-->
         <!-- <td></td> !-->
    </tr>
    <tr>
      <td>18:30 - 19:00</td>
        <td rowspan='2'class="bg-dark text-light">Cours débutants ados et adultes</td>
        <td rowspan='2' class="bg-dark text-light">Cours enfant et ados</td>
       <!-- <td></td> !-->
        <td rowspan='2'class="bg-dark text-light"> Cours Sanda compétiteurs enfants</td>
         <!-- <td></td> vendredi!-->
         <!-- <td></td> !-->
      
    </tr>
    <tr>
      <td>19:00 - 20:00</td>
        <!-- <td></td> !-->
        <!-- <td></td> !-->
        <td rowspan='2'></td>
       <!-- <td></td> !-->
         <!-- <td></td> vendredi !-->
       <!-- <td></td> !-->
    </tr>

    <tr>
      <td>20:00 - 21:30</td>
        <td class="bg-warning text-dark">Cours avancés ados et adultes</td>
        <td class="bg-warning text-dark">Cours Sanda adultes</td>
         <!-- <td></td> !-->
        <td class="bg-dark text-warning"> Cours traditionnel, tous niveaux</td>
        <td class="bg-dark text-warning">Cours traditionnel et armes niveau avancé<p>+</p>cours défense féminine</td>
     <!-- <td></td> !-->
  </table>
<div class="d-flex align-items-start">
      <div class="container mt-5 pt-5">
      
        <h5> Adresses des gymnases à Saint-Étienne :</h5>
      </div>
</div>

  <div class="carte container mt-4">
      <div class="iframe-container ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11203.766462416093!2d4.3819314!3d45.4105169!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5aed0f8d40001%3A0x1424f8c9c78a518b!2sJudo%20Club%20Solaure%20Jomayere!5e0!3m2!1sfr!2sfr!4v1689173656362!5m2!1sfr!2sfr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h6 class="iframe-title"> 98 Rue de la Jomayère, 42100 Saint-Étienne</h6> 
      </div>

      <div class="iframe-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.416947981044!2d4.43012767693516!3d45.4412534710735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5abd5c6f17227%3A0x1597ae9573d411!2sGymnase%20G%C3%A9rard%20Philippe!5e0!3m2!1sfr!2sfr!4v1689174040349!5m2!1sfr!2sfr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h6 class="iframe-title">73A Rue du Dr Louis Destre, 42100 Saint-Étienne</h6> 
      </div>

      <div class="iframe-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2800.251550446517!2d4.417943092106562!3d45.42443029648824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5a96d952f7379%3A0x14682cc52be14003!2s16%20Rue%20du%20Dr%20Paul%20Michelon%2C%2042100%20Saint-%C3%89tienne!5e0!3m2!1sfr!2sfr!4v1689174135125!5m2!1sfr!2sfr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h6 class="iframe-title">16 Rue du Dr Paul Michelon, 42100 Saint-Étienne</h6>
      </div>
  </div>
  <br><br>
</body>
</html>
{% endblock %}
