{% extends 'base.html.twig' %}

{% block title %}Hung-gar Kung-Fu{% endblock %}

{% block body %}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{{ asset('assets/images/france.jpg') }}" class="d-block mx-auto" alt="..."> <!-- Ajout des classes d-block et mx-auto -->
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{{ asset('assets/images/stage1.jpg') }}" class="d-block mx-auto" alt="..."> <!-- Ajout des classes d-block et mx-auto -->
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{{ asset('assets/images/comp.jpg') }}" class="d-block mx-auto" alt="..."> <!-- Ajout des classes d-block et mx-auto -->
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{{ asset('assets/images/fille.jpg') }}" class="d-block mx-auto" alt="..."> <!-- Ajout des classes d-block et mx-auto -->
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


{% endblock %}
